-- Migration to add get_sales_report_ledger RPC
CREATE OR REPLACE FUNCTION get_sales_report_ledger(
    p_organization_id UUID,
    p_branch_ids UUID[] DEFAULT NULL,
    p_start_date TIMESTAMPTZ DEFAULT NULL,
    p_end_date TIMESTAMPTZ DEFAULT NULL
)
RETURNS JSONB
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
DECLARE
    v_orders JSONB;
BEGIN
    -- Orders created in period OR having payments in period
    SELECT COALESCE(jsonb_agg(
        jsonb_build_object(
            'id', o.id,
            'order_number', o.order_number,
            'date', o.date,
            'created_at', o.created_at,
            'updated_at', o.updated_at,
            'total_amount', o.total_amount,
            'paid_amount', o.paid_amount,
            'status', o.status,
            'payment_status', o.payment_status,
            'customer', CASE WHEN c.id IS NOT NULL THEN jsonb_build_object(
                'id', c.id,
                'first_name', c.first_name,
                'last_name', c.last_name,
                'email', c.email
            ) ELSE NULL END,
            'branch', CASE WHEN b.id IS NOT NULL THEN jsonb_build_object(
                'id', b.id,
                'name', b.name
            ) ELSE NULL END,
            'items', (
                SELECT COALESCE(jsonb_agg(jsonb_build_object(
                    'product_name', oi.product_name, 
                    'quantity', oi.quantity,
                    'unit_price', oi.unit_price
                )), '[]'::jsonb)
                FROM order_items oi WHERE oi.order_id = o.id
            ),
            'period_collected', (
                SELECT COALESCE(SUM(op.amount), 0)
                FROM order_payments op
                WHERE op.order_id = o.id
                AND (p_start_date IS NULL OR op.created_at >= p_start_date)
                AND (p_end_date IS NULL OR op.created_at <= p_end_date)
            ),
            'payments', (
                SELECT COALESCE(jsonb_agg(
                    jsonb_build_object(
                        'id', op.id,
                        'amount', op.amount,
                        'payment_method', op.payment_method,
                        'notes', op.notes,
                        'created_at', op.created_at,
                        'recorded_by', trim(COALESCE(u.first_name || ' ' || u.last_name, u.email, 'Unknown'))
                    ) ORDER BY op.created_at DESC
                ), '[]'::jsonb)
                FROM order_payments op
                LEFT JOIN profiles u ON op.created_by = u.id
                WHERE op.order_id = o.id
                AND (p_start_date IS NULL OR op.created_at >= p_start_date)
                AND (p_end_date IS NULL OR op.created_at <= p_end_date)
            )
        ) ORDER BY o.date DESC, o.created_at DESC
    ), '[]'::jsonb)
    INTO v_orders
    FROM orders o
    LEFT JOIN customers c ON o.customer_id = c.id
    LEFT JOIN branches b ON o.branch_id = b.id
    WHERE o.organization_id = p_organization_id
      AND o.is_deleted = false
      AND (p_branch_ids IS NULL OR cardinality(p_branch_ids) = 0 OR o.branch_id = ANY(p_branch_ids))
      AND (
          (p_start_date IS NULL OR o.date >= p_start_date) AND (p_end_date IS NULL OR o.date <= p_end_date)
          OR
          EXISTS (
              SELECT 1 FROM order_payments op2 
              WHERE op2.order_id = o.id 
              AND (p_start_date IS NULL OR op2.created_at >= p_start_date)
              AND (p_end_date IS NULL OR op2.created_at <= p_end_date)
          )
      );

    RETURN jsonb_build_object(
        'orders', v_orders
    );
END;
$$;